// Customers.scss
.customers-container {
  width: 100%;
  padding: 20px;
  padding-left: 260px;

  .customers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    h2 {
      color: #1a1a1a;
      font-size: 1.5rem;
    }

    .actions {
      display: flex;
      gap: 10px;

      button{
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.customers-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;

  th,
  td {
    padding: 20px 16px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  th {
    padding: 12px;
    background-color: #001433;
    color: white;
    font-weight: 500;
    font-size: 14px;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  tbody tr {
    cursor: pointer;
    position: relative;
    
    &:hover {
      background-color: #f2f7ff;
    }

    td {
      color: #212529;
      font-size: 12px;
    }

    .view-btn {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      color: #007bff;
      cursor: pointer;
      font-size: 14px;
      padding: 0;

      img {
        width: 20px;
        height: 20px;
      }

      &:hover {
        color: #f2f7ff;
      }
    }
  }

  th:first-child,
  td:first-child {
    width: 5px;
  }
}

.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 14px;

  .page-btn,
  .prev-btn,
  .next-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f3f5;
    color: #0065fd;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #e2e6ea;
    }
  }

  .active {
    background-color: #0065fd;
    color: white;
  }

  .prev-btn,
  .next-btn {
    font-weight: bold;
    font-size: 14px;
  }
}
.customers-container{
  &--navbar-closed{
    width: 100%;
    padding-left: 135px;
  }
}