.dashboard {
  fieldset {
    border: none;
  }
}
.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 255px;
  padding-top: 40px;
  padding-right: 15px;
  width: 100%;
  height: 994px;
  flex-direction: column;
  gap: 24px;
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      display: flex;
      align-items: center;
      justify-content: center;

      .MuiFormControl-root {
        display: flex;
        border: none;
        background-color: #ffffff;
        width: 149px;
        border-radius: 8px;
        .MuiInputLabel-root {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          border: none;
          color: black;
        }
        .MuiSelect-root {
          border: none;
          .MuiSelect-icon {
            color: #666;
          }
        }
      }
    }

    &__right {
      width: 242px;
      height: 40px;
      background-color: #f2f7ff;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      color: #0065fd;
    }
  }
  &__middle {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 560px;
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      width: 470px;
      height: 560px;
      border-radius: 8px;

      &__up {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px;
        width: 470px;
        height: 208px;
        background-color: white;
        border-radius: 8px;
        &__top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 438px;
          height: 96px;
          &__left {
            width: 195px;
            height: 96px;
            background-color: white;
            padding: 12px;

            p {
              font-size: 12px;
              line-height: 16px;
            }
            h1 {
              font-size: 40px;
              font-weight: 600;
              width: 250px;
              height: 56px;
            }
          }
          &__right {
            padding: 12px;
            width: 150px;
            height: 96px;
            background-color: #fdf3f3;
            border-radius: 8px;
            text-align: end;
            p {
              font-size: 12px;
              line-height: 16px;
            }
            h1 {
              font-size: 40px;
              font-weight: 600;
            }
          }
        }
        &__bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;
          width: 438px;
          height: 68px;
          &__item {
            display: flex;
            align-items: start;
            gap: 8px;
            flex-direction: column;
            padding: 12px;
            text-align: start;
            width: 138px;
            height: 68px;
            background-color: #f2f7ff;
            border-radius: 8px;
            p {
              font-size: 12px;
            }
            span {
              font-size: 20px;
              line-height: 28px;
            }
          }
        }
      }
      &__down {
        width: 470px;
        height: 328px;
        border-radius: 8px;
        background-color: white;
        
      }
    }
    &__right {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
      border-radius: 12px;
      width: 670px;
      height: 560px;
      border-radius: 8px;
      background-color: white;
      &__top {
        display: flex;
        justify-content: space-between;
        gap: 13 px;
        width: 638px;
        height: 232px;
        &__left {
          width: 232px;
          height: 232px;
        }
        &__right {
          width: 358px;
          height: 232px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          &__item {
            width: 358px;
            height: 110px;
            background-color: #f2f7ff;
            border-radius: 8px;
          }
        }
      }
      &__bottom {
        display: flex;
        flex-direction: column;
        width: 638px;
        height: 124px;
        border-radius: 12px;
        border: 1px solid #f2f7ff;
        padding: 16px;
        gap: 8px;
        &__top {
          display: flex;
          align-items: center;
          width: 182px;
          height: 24px;
          background-color: #f2f7ff;
          color: #0065fd;
          border-radius: 16px;
          padding: 4px 12px;
          display: flex;
          gap: 8px;
          p {
            font-size: 12px;
          }
          img {
            width: 16px;
            height: 16px;
          }
        }
        &__bottom {
          display: flex;
          gap: 12px;
          width: 606px;
          height: 60px;
          &__item {
            width: 297px;
            height: 60px;
            background-color: #f2f7ff;
            border-radius: 8px;
            padding: 8px 12px;
            display: flex;
            align-items: start;
            justify-content: start;
            gap: 6px;
            flex-direction: column;
            p {
              font-size: 12px;
            }
            span {
              font-size: 20px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  &__bottom {
    width: 1160px;
    height: 228px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background-color: white;
    margin: 20px 15px;
    border-radius: 12px;
    padding: 16px;
    &__left {
      width: 185px;
      height: 196px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      &__green {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 12px;
        width: 185px;
        gap: 12px;
        height: 92px;
        border-radius: 12px;
        background-color: #f2fff8;
        &__left{
          img{
            width: 44px;
            height: 44px;
          }
        }
        &__right{
          p{
            font-size: 12px;
          }
        }
      }
      &__red {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 12px;
        width: 185px;
        height: 92px;
        border-radius: 12px;
        background-color: #FFF2F2;
        &__left{
          img{
            width: 44px;
            height: 44px;
          }
        }
        &__right{
          p{
            font-size: 12px;
          }
        }
      }
    }
    &__right {
      width: 1054px;
      height: 196px;
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: center;
      gap: 10px;
      row-gap: 12px;
      &__item {
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 460px;
        border-radius: 8px;
        height: 92px;
        background-color: #f2f7ff;
        padding: 12px;
        &__1{
          text-align: start;
          line-height: 24px;
          h4{
            font-size: 16px;
            font-weight: 400;
          }
          p{
            font-size: 12px;
          }
          span{
            font-size: 16px;
          }
        }
        &__2{
          text-align: right;
          line-height: 24px;
          p{
            font-size: 12px;
          }
        }
        &__3{
          text-align: right;
          line-height: 24px;
          p{
            font-size: 12px;
          }
        }

        
      }
    }
  }
}

.MuiFormControl-root {
  .MuiSelect-root {
    border: none !important;
  }
}

.dashboard__middle__left__down {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 12px;
  flex-direction: column;
  padding: 16px;
  &__title {
    p {
      font-size: 12px;
      font-family: "Lato";
      font-size: 12px;
      line-height: 16px;
      text-align: left;
    }
  }
  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
  }

  .dashboard__card {
    background-color: white;
    border-radius: 12px;
    width: 138px;
    height: 128px;
    padding: 13px;
    text-align: center;
    border: 1px solid #f2f7ff;

    &__icon {
      font-size: 30px;
    }

    &__value {
      font-size: 28px;
      line-height: 40px;
    }

    &:nth-child(6) {
      background-color: #fff1fd;
    }
  }
}
.dashboard__card__value__currency {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5px;

  .value {
    font-size: 28px;
  }

  .currency {
    font-size: 16px;
  }
}
.dashboard__middle__right__top__right__item {
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  p {
    font-size: 12px;
    line-height: 16px;
  }
  .pricevalue {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }
}
.price {
  font-size: 28px;
  font-family: "Lato", sans-serif;
}
.money {
  font-size: 15px;
  font-family: "Lato", sans-serif;
}
.pricevalues {
  display: flex;
  align-items: baseline;
  gap: 8px;
  span {
    &:first-child {
      font-size: 20px;
    }
    &:nth-child(2) {
      font-size: 12px;
    }
  }
}
.pricevaluess {
  display: flex;
  align-items: baseline;
  gap: 8px;
  p{
  font-size: 12px;
  }
  span {
    &:first-child {
      font-size: 20px;
    }
    &:nth-child(2) {
      font-size: 14px;
    }
  }
}

.dashboard{
  &--navbar-closed{
    
    padding-left: 130px;
    padding-top: 30px;
    padding-right: 15px;
    width: 100%;
    height: 994px;
    flex-direction: column;
    gap: 24px;
    .dashboard__middle__right{
      width: 795px;

    }
    .dashboard__middle__right__top{
      width: 790px;
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;
    }
    .dashboard__middle__right__bottom{
      width: 763px;
    }
    .dashboard__middle__right__bottom__bottom{
      width: 731px;
    }
    .dashboard__middle__right__bottom__bottom__item{
      width: 360px;
    }
    .dashboard__bottom{
      width: 1295px;
    }
    .dashboard__bottom__right{
      width: 1230px;
    }
    .dashboard__bottom__right__item{
      width: 527px;

    }

  }
}